.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.verse {
  color: #1f1f1f;
  font-size: 4rem;
  font-family: "Gabriela", sans-serif;
}

.verse .first,
.verse .second {
  opacity: 0;
}
